#include <os2.h>
#include "resource.h"

ICON ID_MAINPROGRAM   "ft2gui.ico"


/********************
 * ENGLISH MESSAGES
 */

STRINGTABLE
BEGIN
    (ID_BASE_EN + IDS_PROGRAM_TITLE)            "FreeType/2 Configuration"
    (ID_BASE_EN + IDS_PAGE_DRIVER)              "~Driver"
    (ID_BASE_EN + IDS_PAGE_SETTINGS)            "~Settings"
    (ID_BASE_EN + IDS_PAGE_ABOUT)               "~About"
    (ID_BASE_EN + IDS_PAGE_1OF2)                "Page 1 of 2"
    (ID_BASE_EN + IDS_PAGE_2OF2)                "Page 2 of 2"
    (ID_BASE_EN + IDS_TRUETYPEDLL_DESC)         "TRUETYPE.DLL (IBM TrueType IFI)"
    (ID_BASE_EN + IDS_FREETYPEDLL_DESC)         "FREETYPE.DLL (FreeType IFI)"
    (ID_BASE_EN + IDS_MESSAGE_REBOOT)           "Changes will not take effect until the system is shut down and rebooted."
END

STRINGTABLE
BEGIN
    (ID_BASE_EN + IDS_ERRT_GEN)                 "Error"
    (ID_BASE_EN + IDS_ERROR_NOTEBOOK)           "Error populating notebook. The program cannot continue."
    (ID_BASE_EN + IDS_ERRT_NOTFOUND)            "FREETYPE.DLL Not Found"
    (ID_BASE_EN + IDS_ERROR_NOTFOUND)           "%s was not found. Do you wish to specify another path?"
END

STRINGTABLE
BEGIN
    (ID_BASE_EN + IDS_BTN_OK)                   "~OK"
    (ID_BASE_EN + IDS_BTN_CANCEL)               "~Cancel"
    (ID_BASE_EN + IDS_BTN_HELP)                 "~Help"
    (ID_BASE_EN + IDS_BTN_RESET)                "~Undo"
END

STRINGTABLE
BEGIN
    (ID_BASE_EN + IDS_CTL_CURRENT_DRIVER)       "Current TrueType font driver:"
    (ID_BASE_EN + IDS_CTL_UNICODE_SETTINGS)     "Unicode Settings"
    (ID_BASE_EN + IDS_CTL_FORCEUNICODE)         "Always use Unicode encoding if available"
    (ID_BASE_EN + IDS_CTL_FORCEMBCS)            "Always report Unicode fonts as MBCS-compatible"
    (ID_BASE_EN + IDS_CTL_EXCEPTASSOC)          "Use DBCS instead of Unicode for association font"
    (ID_BASE_EN + IDS_CTL_EXCEPTCMB)            "Use DBCS instead of Unicode for combined fonts"
    (ID_BASE_EN + IDS_CTL_OPTIONAL_FEATURES)    "Optional Features"
    (ID_BASE_EN + IDS_CTL_FAKEBOLD)             "Create simulated bold face for DBCS fonts"
    (ID_BASE_EN + IDS_CTL_STYLEFIX)             "Fix standard style names"
    (ID_BASE_EN + IDS_CTL_NETSCAPEFIX)          "Optimize glyph metrics for Netscape"
    (ID_BASE_EN + IDS_CTL_FACENAMEALIAS)        "Alias TrueType ""Times New Roman"" to ""TmsRmn"""
    (ID_BASE_EN + IDS_CTL_ADVANCED_SETTINGS)    "Advanced Settings"
    (ID_BASE_EN + IDS_CTL_TXTCACHE)             "Open face cache size:"
    (ID_BASE_EN + IDS_CTL_TXTRESOLUTION)        "Instance resolution:"
    (ID_BASE_EN + IDS_CTL_TXTFONTS)             "fonts"
    (ID_BASE_EN + IDS_CTL_TXTDPI)               "dpi"
    (ID_BASE_EN + IDS_CTL_TXTVERSION)           "Version %s"
    (ID_BASE_EN + IDS_CTL_TXTCOPYRIGHT)         "%s Alex Taylor"
END


/********************
 * RUSSIAN MESSAGES
 */

STRINGTABLE
BEGIN
    (ID_BASE_RU + IDS_PROGRAM_TITLE)            "Конфигурация FreeType/2"
    (ID_BASE_RU + IDS_PAGE_DRIVER)              "~Драйвер"
    (ID_BASE_RU + IDS_PAGE_SETTINGS)            "~Настройки"
    (ID_BASE_RU + IDS_PAGE_ABOUT)               "~О программе"
    (ID_BASE_RU + IDS_PAGE_1OF2)                "Страница 1 из 2"
    (ID_BASE_RU + IDS_PAGE_2OF2)                "Страница 2 из 2"
    (ID_BASE_RU + IDS_TRUETYPEDLL_DESC)         "TRUETYPE.DLL (IBM TrueType IFI)"
    (ID_BASE_RU + IDS_FREETYPEDLL_DESC)         "FREETYPE.DLL (FreeType IFI)"
    (ID_BASE_RU + IDS_MESSAGE_REBOOT)           "Изменения не вступят в силу, пока система не будет выключена и перезагружена."
END

STRINGTABLE
BEGIN
    (ID_BASE_RU + IDS_ERRT_GEN)                 "Ошибка"
    (ID_BASE_RU + IDS_ERROR_NOTEBOOK)           "Ошибка при заполнении блокнота. Программа не может продолжить выполнение."
    (ID_BASE_RU + IDS_ERRT_NOTFOUND)            "FREETYPE.DLL не найден"
    (ID_BASE_RU + IDS_ERROR_NOTFOUND)           "%s не найден. Вы хотите указать другой путь?"
END

STRINGTABLE
BEGIN
    (ID_BASE_RU + IDS_BTN_OK)                   "~ОК"
    (ID_BASE_RU + IDS_BTN_CANCEL)               "О~тменить"
    (ID_BASE_RU + IDS_BTN_HELP)                 "~Справка"
    (ID_BASE_RU + IDS_BTN_RESET)                "От~катить"
END

STRINGTABLE
BEGIN
    (ID_BASE_RU + IDS_CTL_CURRENT_DRIVER)       "Текущий драйвер шрифта TrueType:"
    (ID_BASE_RU + IDS_CTL_UNICODE_SETTINGS)     "Настройки Юникода"
    (ID_BASE_RU + IDS_CTL_FORCEUNICODE)         "Всегда использовать Юникод, если доступно"
    (ID_BASE_RU + IDS_CTL_FORCEMBCS)            "Всегда сообщать о шрифтах Юникод как о совместимых с MBCS"
    (ID_BASE_RU + IDS_CTL_EXCEPTASSOC)          "Использовать DBCS вместо Юникод для ассоциированного шрифта"
    (ID_BASE_RU + IDS_CTL_EXCEPTCMB)            "Использовать DBCS вместо Юникод для комбинированных шрифтов"
    (ID_BASE_RU + IDS_CTL_OPTIONAL_FEATURES)    "Дополнительные возможности"
    (ID_BASE_RU + IDS_CTL_FAKEBOLD)             "Создать условный набор bold для шрифтов DBCS"
    (ID_BASE_RU + IDS_CTL_STYLEFIX)             "Исправлять стандартные имена стилей"
    (ID_BASE_RU + IDS_CTL_NETSCAPEFIX)          "Оптимизация метрики глифов для Netscape"
    (ID_BASE_RU + IDS_CTL_FACENAMEALIAS)        "Псевдоним TrueType ""Times New Roman"" на ""TmsRmn"""
    (ID_BASE_RU + IDS_CTL_ADVANCED_SETTINGS)    "Расширенные настройки"
    (ID_BASE_RU + IDS_CTL_TXTCACHE)             "Размер кэша открытого набора:"
    (ID_BASE_RU + IDS_CTL_TXTRESOLUTION)        "Разрешение экземпляра:"
    (ID_BASE_RU + IDS_CTL_TXTFONTS)             "шрифтов"
    (ID_BASE_RU + IDS_CTL_TXTDPI)               "dpi"
    (ID_BASE_RU + IDS_CTL_TXTVERSION)           "Версия %s"
    (ID_BASE_RU + IDS_CTL_TXTCOPYRIGHT)         "%s Alex Taylor"
END

/********************
 * GERMAN MESSAGES
 */

STRINGTABLE
BEGIN
    (ID_BASE_DE + IDS_PROGRAM_TITLE)            "FreeType/2-Konfiguration"
    (ID_BASE_DE + IDS_PAGE_DRIVER)              "~Treiber"
    (ID_BASE_DE + IDS_PAGE_SETTINGS)            "Ein~stellungen"
    (ID_BASE_DE + IDS_PAGE_ABOUT)               "Ъ~ber"
    (ID_BASE_DE + IDS_PAGE_1OF2)                "Seite 1 von 2"
    (ID_BASE_DE + IDS_PAGE_2OF2)                "Seite 2 von 2"
    (ID_BASE_DE + IDS_TRUETYPEDLL_DESC)         "TRUETYPE.DLL (IBM TrueType IFI)"
    (ID_BASE_DE + IDS_FREETYPEDLL_DESC)         "FREETYPE.DLL (FreeType IFI)"
    (ID_BASE_DE + IDS_MESSAGE_REBOOT)           "Оnderungen werden erst wirksam, wenn das System neu gestartet wurde."
END

STRINGTABLE
BEGIN
    (ID_BASE_DE + IDS_ERRT_GEN)                 "Fehler"
    (ID_BASE_DE + IDS_ERROR_NOTEBOOK)           "Fehler beim BefБllen des Notebooks. Das Programm kann nicht fortgesetzt werden."
    (ID_BASE_DE + IDS_ERRT_NOTFOUND)            "FREETYPE.DLL wurde nicht gefunden!"
    (ID_BASE_DE + IDS_ERROR_NOTFOUND)           "%s wurde nicht gefunden. MФchten Sie einen anderen Pfad angeben?"
END

STRINGTABLE
BEGIN
    (ID_BASE_DE + IDS_BTN_OK)                   "~OK"
    (ID_BASE_DE + IDS_BTN_CANCEL)               "~Abbrechen"
    (ID_BASE_DE + IDS_BTN_HELP)                 "~Hilfe"
    (ID_BASE_DE + IDS_BTN_RESET)                "~RБckgДngig"
END

STRINGTABLE
BEGIN
    (ID_BASE_DE + IDS_CTL_CURRENT_DRIVER)       "Aktueller TrueType-Schriftartentreiber:"
    (ID_BASE_DE + IDS_CTL_UNICODE_SETTINGS)     "Unicode-Einstellungen"
    (ID_BASE_DE + IDS_CTL_FORCEUNICODE)         "Wenn mФglich immer Unicode-Kodierung verwenden"
    (ID_BASE_DE + IDS_CTL_FORCEMBCS)            "Unicode-Schriften immer als MBCS-kompatibel ausweisen"
    (ID_BASE_DE + IDS_CTL_EXCEPTASSOC)          "DBCS anstelle von Unicode fБr Zuordnungsschriften verwenden"
    (ID_BASE_DE + IDS_CTL_EXCEPTCMB)            "Verwenden von DBCS anstelle von Unicode fБr kombinierte Schriften"
    (ID_BASE_DE + IDS_CTL_OPTIONAL_FEATURES)    "Optionale Merkmale"
    (ID_BASE_DE + IDS_CTL_FAKEBOLD)             "Simulierte fette Schrift fБr DBCS-Schriften erstellen"
    (ID_BASE_DE + IDS_CTL_STYLEFIX)             "Fixierung von Standardstilnamen"
    (ID_BASE_DE + IDS_CTL_NETSCAPEFIX)          "Optimierung der Glyphenmetriken fБr Netscape"
    (ID_BASE_DE + IDS_CTL_FACENAMEALIAS)        "Alias TrueType ""Times New Roman"" nach ""TmsRmn"""
    (ID_BASE_DE + IDS_CTL_ADVANCED_SETTINGS)    "Erweiterte Einstellungen"
    (ID_BASE_DE + IDS_CTL_TXTCACHE)             "GrФсe des Face-Cache:"
    (ID_BASE_DE + IDS_CTL_TXTRESOLUTION)        "InstanzauflФsung:"
    (ID_BASE_DE + IDS_CTL_TXTFONTS)             "Schriften"
    (ID_BASE_DE + IDS_CTL_TXTDPI)               "dpi"
    (ID_BASE_DE + IDS_CTL_TXTVERSION)           "Version %s"
    (ID_BASE_DE + IDS_CTL_TXTCOPYRIGHT)         "%s Alex Taylor"
END


/********************
 * SPANISH MESSAGES
 */

STRINGTABLE
BEGIN
    (ID_BASE_ES + IDS_PROGRAM_TITLE)            "Configuraciвn de FreeType/2"
    (ID_BASE_ES + IDS_PAGE_DRIVER)              "~Controlador"
    (ID_BASE_ES + IDS_PAGE_SETTINGS)            "~Opciones"
    (ID_BASE_ES + IDS_PAGE_ABOUT)               "~Acerca de"
    (ID_BASE_ES + IDS_PAGE_1OF2)                "Pаgina 1 de 2"
    (ID_BASE_ES + IDS_PAGE_2OF2)                "Pаgina 2 de 2"
    (ID_BASE_ES + IDS_TRUETYPEDLL_DESC)         "TRUETYPE.DLL (IBM TrueType IFI)"
    (ID_BASE_ES + IDS_FREETYPEDLL_DESC)         "FREETYPE.DLL (FreeType IFI)"
    (ID_BASE_ES + IDS_MESSAGE_REBOOT)           "Los cambios no tendrаn efecto hasta que se reinicie el sistema."
END

STRINGTABLE
BEGIN
    (ID_BASE_ES + IDS_ERRT_GEN)                 "Error"
    (ID_BASE_ES + IDS_ERROR_NOTEBOOK)           "Error al poblar el cuaderno de opciones. El programa no puede continuar."
    (ID_BASE_ES + IDS_ERRT_NOTFOUND)            "FREETYPE.DLL no encontrada"
    (ID_BASE_ES + IDS_ERROR_NOTFOUND)           "No se ha encontrado %s. иDesea especificar otra vбa de acceso?"
END

STRINGTABLE
BEGIN
    (ID_BASE_ES + IDS_BTN_OK)                   "~Bien"
    (ID_BASE_ES + IDS_BTN_CANCEL)               "~Cancelar"
    (ID_BASE_ES + IDS_BTN_HELP)                 "~Ayuda"
    (ID_BASE_ES + IDS_BTN_RESET)                "~Deshacer"
END

STRINGTABLE
BEGIN
    (ID_BASE_ES + IDS_CTL_CURRENT_DRIVER)       "Controlador actual de fuentes TrueType:"
    (ID_BASE_ES + IDS_CTL_UNICODE_SETTINGS)     "Opciones de Unicode"
    (ID_BASE_ES + IDS_CTL_FORCEUNICODE)         "Utilizar codificaciвn Unicode si estа disponible"
    (ID_BASE_ES + IDS_CTL_FORCEMBCS)            "Mostrar fuentes Unicode como compatibles con MBCS"
    (ID_BASE_ES + IDS_CTL_EXCEPTASSOC)          "Utilizar DBCS en vez de Unicode en la fuente de asociaciвn"
    (ID_BASE_ES + IDS_CTL_EXCEPTCMB)            "Utilizar DBCS en vez de Unicode para las fuentes combinadas"
    (ID_BASE_ES + IDS_CTL_OPTIONAL_FEATURES)    "Caracterбsticas opcionales"
    (ID_BASE_ES + IDS_CTL_FAKEBOLD)             "Crear negrita simulada para las fuentes DBCS"
    (ID_BASE_ES + IDS_CTL_STYLEFIX)             "Ajustar nombres de estilo estаndar"
    (ID_BASE_ES + IDS_CTL_NETSCAPEFIX)          "Optimizar mВtrica de glifos para Netscape"
    (ID_BASE_ES + IDS_CTL_FACENAMEALIAS)        "Utilizar оTmsRmnп como alias de оTimes New Romanп TrueType"
    (ID_BASE_ES + IDS_CTL_ADVANCED_SETTINGS)    "Opciones avanzadas"
    (ID_BASE_ES + IDS_CTL_TXTCACHE)             "Tamaдo del cachВ de fuentes abiertas:"
    (ID_BASE_ES + IDS_CTL_TXTRESOLUTION)        "Resoluciвn del texto:"
    (ID_BASE_ES + IDS_CTL_TXTFONTS)             "fuentes"
    (ID_BASE_ES + IDS_CTL_TXTDPI)               "ppp"
    (ID_BASE_ES + IDS_CTL_TXTVERSION)           "Versiвn %s"
    (ID_BASE_ES + IDS_CTL_TXTCOPYRIGHT)         "%s Alex Taylor"
END


/********************
 * JAPANESE MESSAGES
 */

STRINGTABLE
BEGIN
    (ID_BASE_JA + IDS_PROGRAM_TITLE)            "FreeType/2 К┬ЛлР▌Тш"
    (ID_BASE_JA + IDS_PAGE_DRIVER)              "─▐╫▓╩▐░ (D )"
    (ID_BASE_JA + IDS_PAGE_SETTINGS)            "Р▌Тш (S )"
    (ID_BASE_JA + IDS_PAGE_ABOUT)               "Р╗ХiПюХё (A )"
    (ID_BASE_JA + IDS_PAGE_1OF2)                "ГyБ|ГW 1/2"
    (ID_BASE_JA + IDS_PAGE_2OF2)                "ГyБ|ГW 2/2"
    (ID_BASE_JA + IDS_TRUETYPEDLL_DESC)         "TRUETYPE.DLL (IBM TrueType IFI)"
    (ID_BASE_JA + IDS_FREETYPEDLL_DESC)         "FREETYPE.DLL (FreeType IFI)"
    (ID_BASE_JA + IDS_MESSAGE_REBOOT)           "Changes will not take effect until the system is shut down and rebooted."
END

STRINGTABLE
BEGIN
    (ID_BASE_JA + IDS_ERRT_GEN)                 "ГGГЙБ["
    (ID_BASE_JA + IDS_ERROR_NOTEBOOK)           "Error populating notebook. The program cannot continue."
    (ID_BASE_JA + IDS_ERRT_NOTFOUND)            "FREETYPE.DLL В┼В═ВаВшВ▄В╣Вё"
    (ID_BASE_JA + IDS_ERROR_NOTFOUND)           "%s was not found. Do you wish to specify another path?"
END

STRINGTABLE
BEGIN
    (ID_BASE_JA + IDS_BTN_OK)                   "Ч╣ЙЁ (O )"
    (ID_BASE_JA + IDS_BTN_CANCEL)               "ОцП┴ (C )"
    (ID_BASE_JA + IDS_BTN_HELP)                 "═┘╠▀ (H )"
    (ID_BASE_JA + IDS_BTN_RESET)                "▒▌─▐й (U )"
END

STRINGTABLE
BEGIN
    (ID_BASE_JA + IDS_CTL_CURRENT_DRIVER)       "СIСЁВ│ВъВ╜ TrueType В╠ГtГHГУГgБEГhГЙГCГoБ[:"
    (ID_BASE_JA + IDS_CTL_UNICODE_SETTINGS)     "Unicode Р▌Тш"
    (ID_BASE_JA + IDS_CTL_FORCEUNICODE)         "В┼ВлВъВ╬ Unicode ВЁВвВ┬ВрОgВд"
    (ID_BASE_JA + IDS_CTL_FORCEMBCS)            "Always report Unicode fonts as MBCS-compatible"
    (ID_BASE_JA + IDS_CTL_EXCEPTASSOC)          "К╓ШAХtВпВ╠ГtГHГУГgВ╠ПъНЗ DBCS В╠Х╢ОЪХДНЖЙ╗Ц@ВЁОgВд"
    (ID_BASE_JA + IDS_CTL_EXCEPTCMB)            "ABR ГtГHГУГgВ╠ПъНЗ DBCS В╠Х╢ОЪХДНЖЙ╗Ц@ВЁОgВд"
    (ID_BASE_JA + IDS_CTL_OPTIONAL_FEATURES)    "ЧvФ█В╚К┬ЛлР▌Тш"
    (ID_BASE_JA + IDS_CTL_FAKEBOLD)             "DBCS ГtГHГУГgВ╠ПъНЗГtГFГCГNБEГ{Б|ГЛГhВЁНьВшПoВ╖"
    (ID_BASE_JA + IDS_CTL_STYLEFIX)             "Fix standard style names"
    (ID_BASE_JA + IDS_CTL_NETSCAPEFIX)          "Netscape В╠В╜В▀В╔ГtГHГУГgБEГБГbГgГКГbГNВЁХ╧НXВ╖Вщ"
    (ID_BASE_JA + IDS_CTL_FACENAMEALIAS)        "TrueType В╠БuTimes New RomanБvВ╔БuTmsRmnБvВ╠И┘Ц╝ВЁХ\В╖"
    (ID_BASE_JA + IDS_CTL_ADVANCED_SETTINGS)    "ГAГhГoГУГXГhР▌Тш"
    (ID_BASE_JA + IDS_CTL_TXTCACHE)             "ГtГFБ[ГXБEГLГГГbГVГЕБEГTГCГYБF"
    (ID_BASE_JA + IDS_CTL_TXTRESOLUTION)        "ЙЁСЬУxБF"
    (ID_BASE_JA + IDS_CTL_TXTFONTS)             "ГtГHГУГg"
    (ID_BASE_JA + IDS_CTL_TXTDPI)               "dpi"
    (ID_BASE_JA + IDS_CTL_TXTVERSION)           "ГФГ@Б[ГWГЗГУ %s"
    (ID_BASE_JA + IDS_CTL_TXTCOPYRIGHT)         "%s Alex Taylor"
END


/***************************************************
 * Changes below this point should not be necessary.
 */

HELPTABLE ID_MAINPROGRAM
BEGIN
    HELPITEM ID_MAINPROGRAM, HSTB_MAIN,         100
    HELPITEM IDD_INSTALL,    HSTB_INSTALL,      110
    HELPITEM IDD_CONFIG,     HSTB_SETTINGS1,    120
    HELPITEM IDD_ADVANCED,   HSTB_SETTINGS2,    130
    HELPITEM IDD_ABOUT,      HSTB_MAIN,         100
END

HELPSUBTABLE HSTB_MAIN
BEGIN
END

HELPSUBTABLE HSTB_INSTALL
BEGIN
END

HELPSUBTABLE HSTB_SETTINGS1
BEGIN
END

HELPSUBTABLE HSTB_SETTINGS2
BEGIN
END

RCINCLUDE "resource.dlg"

